html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

header, section, footer, aside, nav, article, figure { display: block; } /* HTML5 tags */
body { background: #fff; font: normal 16px/20px 'Helvetica Neue', Arial, sans-serif; }

header {
  background: rgba(240, 240, 240, .9) url("leigh.png") 0 bottom no-repeat;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 1;
}

header:hover { background-position: -360px bottom; }
.interior { height: 100%; }

h1 {
  background: url("pointer_left.png") 20px 50% no-repeat;
  color: #fff;
  font-size: 60px;
  letter-spacing: -.025em;
  line-height: 60px;
  padding: 30px 60px;
  text-shadow: 0 -1px rgba(0, 0, 0, .1);
}

h1 span { display: none; }
h2 { display: none; }

h3 {
  background: url("pointer_bottom.png") 50% bottom no-repeat;
  color: rgba(0, 0, 0, .8);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -.05em;
  line-height: 40px;
  padding: 0 60px 30px 60px;
  text-shadow: 0 1px rgba(255, 255, 255, .8);
}

.tell_leigh {
  bottom: 290px;
  position: absolute;
  width: 100%;
}

.buttons {
  background: rgba(0, 0, 0, .1);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 auto;
  padding: 3px;
  width: 200px;
}

.buttons button, .buttons .button {
  background: #fff url("bg_button.png") bottom center repeat-x;
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
}

.buttons .button { padding: 6px 10px; }
.buttons button:hover, .buttons .button:hover { background-color: #f2f2f2; }

.buttons button:active, .buttons .button:active {
  background-color: #6299c5;
  border-color: #5382a8;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .4);
}